{% extends 'newsreader/base.html' %}
{% load staticfiles %}

{% block title %}NewsTrolley - Change Password{% endblock %}

{% block main-container %}
	{% if password_changed %}
	<div class="alert alert-success pagination-centered span3 offset4" style="margin-top: 20px">
		<img src="{% static 'newsreader/media/success.png' %}" height="48" width="48" alt="Success" />
		<h3>Password Changed!</h3>
		<p>Your password has been changed successfuly. You can now <a href="{% url 'newsreader:index' %}">login</a> to your account with the new password. </p>
	</div>
	{% endif %}
	<div class="clearfix"></div>
{% endblock %}