{% extends "newsreader/base.html" %}
{% load staticfiles %}

{% block title %}NewsTrolley - Reset Password{% endblock %}

{% block main-container %}
	<h3>Forgot your password?</h3>
	<hr>
	<p>Don't worry! It happens to the best of us. Just enter your email address below and we will send you the instructions on how to reset your password.</p>
	<form action="" style="margin-top:20px;">
		<div class="input-append">
			<input class="input-xlarge" type="text" name="email" placeholder="Email ID" />
			<button type="submit" class="btn btn-info">Send</button>
		</div>
	</form>
{% endblock %}