{% extends "newsreader/base.html" %}
{% load staticfiles %}

{% block title %}NewsTrolley - Reset Password{% endblock %}

{% block main-container %}
	{% if form %}
	<h3>Forgot your password?</h3>
	<hr>
	<p>Don't worry! It happens to the best of us. Just enter your email address below and we will send you the instructions on how to reset your password.</p>
	<form method="post" action="{% url 'newsreader:reset_password' %}" style="margin-top:20px;">
		<div class="input-append">
			<input class="input-xlarge" type="text" name="email" placeholder="Email ID" />
			<button type="submit" class="btn btn-info">Send</button>
		</div>
	</form>
	{% elif verify_token %}
		{% if success %}
		<h3>Reset Password</h3>
		<hr>
		<p></p>
		<form method="post" action="" style="margin-top:20px;">
		</form>
		{% else %}
		<div class="alert alert-error pagination-centered span3 offset4" style="margin-top: 20px">
			<img src="{% static 'newsreader/media/mail_alert.png' %}" height="48" width="48" alt="Error" />
			<h3>Link expired!</h3>
			<p>Our password reset links are only valid for 6 hours. To generate another link, <a href="{% url 'newsreader:reset_password' %}">click here</a>.</p>
		</div>
		{% endif %}
	{% else %}
		{% if success %}
		<div class="alert alert-success pagination-centered span3 offset4" style="margin-top: 20px">
			<img src="{% static 'newsreader/media/mail_check.png' %}" height="48" width="48" alt="Success" />
			<h3>Mail sent!</h3>
			<p>We have sent an email to your email address <strong>{{ email }}</strong>. Check your inbox for further instructions.</p>
		</div>
		{% else %}
		<div class="alert alert-error pagination-centered span3 offset4" style="margin-top: 20px">
			<img src="{% static 'newsreader/media/mail_alert.png' %}" height="48" width="48" alt="Error" />
			<h3>Error!</h3>
			<p>The account associated with the email address <strong>{{ email }}</strong> is either unverified or does not exist. Please verify your email address before resetting your password. If you think this is a mistake, contact <a href="mailto:support@newstrolley.com">Support</a> for further assistance.</p>
		</div>
		{% endif %}
	{% endif %}
{% endblock %}