/* -- Nav bar -- */
.form-search {
	display: inline-block;
	margin: 0;
	padding: 7px 0 0;
}

#user-info {
	margin-top: 0;
}

@media (min-width: 980px) {
	.nav-collapse {
		display: inline-block;
		float: right;
		padding: 7px 0 0;
	}
}

/* -- Tab Sidebar -- */
#sidebar-tabs .nav-tabs .active a {
	background-color: rgb(0, 136, 204);
	border-radius: 0;
	color: white;
}

.nt-mybutton {
	background: none;
	border: 1px solid rgb(100, 100, 100);
	border-radius: 0;
	color: rgb(100, 100, 100);
	vertical-align: text-top;
	text-shadow: none;
}

.nt-green, .nt-green:hover {
	background-color: #00C13F;
	color: white;
}

.nt-red, .nt-red:hover {
	background-color: #DF3522;
	color: white;
}

#add-tab {
	margin: 10px 0;
}

#sidebar-tabs > ul, #tab-content {
	margin-left: 0;
}

#sidebar-tabs > ul.nav {
	float: right;
	border: none;
}
/* -- Tab Content -- */
#email-verify h4 {
	margin-bottom: 10px;
}

#email-verify img {
	margin-right: 10px;
	vertical-align: bottom;
}

#tab-content {
	padding: 10px;
}

#tab-content .row {
	margin-bottom: 20px;
	margin-left: 0;
}

.newspaper-title, .title {
	font-weight: 300;
}

.newspaper-title > h1 {
	font-size: 3.5em;
	font-weight: 400;
	margin-bottom: 10px;
}

.newspaper-content {
	padding-top: 20px;
}

.newspaper-content .row {
	border-bottom: 1px solid #abc;
}

.headlines {
	float: left;
	margin-left: 0;
	border-top: 3px solid #005fa2;
	padding-top: 0;
	padding-bottom: 10px;
}

.headlines .row {
	border-bottom: 3px solid #005fa2;
}

.headlines .title {
	font-size: 2.1em;
}

.title a {
	color: rgb(51,51,51);
}

.title a:hover {
	text-decoration: none;
}

.nt-right {
	float: right;
}

.nt-left {
	float: left;
}

.nt-left, .nt-right {
	margin-left: 0;
	margin-bottom: 10px;
	padding-left: 10px;
}

.byline {
	margin-top: -10px;
	margin-bottom: 10px;
}

.article-content > img {
	border: 1px solid #ccc;
	background: white;
	display: inline-block;
	float: left;
	margin: 0 10px 10px 0;
	max-width: 300px;
	padding: 6px;
	width: auto;
}

#scroll-detect {
	color: rgb(134, 134, 134);
}

#scroll-detect > div.loading {
	background: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin: 0 auto;
	padding: 7px 7px 0;
	width: 50px;
}

#scroll-detect > span {
	display: none;
}

/* -- Add Source Modal -- */
#add-source-modal {
	left: 50%;
	margin-left: -135px;
	top: 20%;
	width: 270px;
}

#add-source-modal .modal-body {
	height: 200px;
}

#add-source-modal .modal-body table{
	margin-top: 20px;
}

.not-selected td, .selected td {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.not-selected i, #js-content {
	display: none;
}

/* -- Tab Settings -- */
#tags span, .tag {
	padding-right: 16px;
}

#tags span.label+a, .tag+a {
	margin-left: -14px;
	margin-right: 5px;
	text-decoration: none;
	color: gray;
}

#tags span.label+a:hover, .tag+a:hover {
	color: rgb(218, 79, 73);
	cursor: pointer;
}

#tags > a:hover, .tag > a:hover {
	cursor: pointer;
}

a > span.label-info:hover {
	cursor: pointer;
}

.label {
	background: none;
	border-radius: 0;
	border: 1px solid rgb(100, 100, 100);
	color: rgb(100, 100, 100);
	font-weight: 400;
	text-shadow: none;
	margin: 2px;
}

.label-info {
	background-color: rgb(0, 136, 204);
	color: white;
}

/* -- Add Tab Popover -- */
#add-tab+div.popover form {
	margin-bottom: 10px;
}

#add-tab+div.popover form .btn {
	margin-top: 10px;
}

#user-info .btn {
	background: none;
	background-color: rgb(0, 136, 204);
	border-radius: 0;
}

.nt-left:hover, .nt-right:hover, .headlines:hover {
	border: 1px solid rgb(0, 136, 204);
	cursor: pointer;
}

.headlines:hover {
	border-top-width: 3px;
}

#article-modal {
	left: 0;
	padding: 0;
	margin-left: 5%;
	height: 80%;
	width: 90%;
	top: 10%;
}

#article-modal .modal-body {
	margin: 0;
	padding: 0;
	height: 100%;
	max-height: none;
	overflow: hidden;
	width: 100%;
}

#article-modal .modal-body iframe {
	border: 0;
	width: 100%;
	height: 100%;
}

#article-modal > span:nth-child(2) {
	background: rgb(34, 34, 34);
	border: 1px solid;
	color: white;
	float: right;
	padding: 2px 5px;
	position: absolute;
	right: 0;
	top: -25px;
	user-select: none;
}

#article-modal > span:nth-child(2):hover {
	cursor: pointer;
}