#login-modal {
	position: fixed;
	width: 270px;
	left: 50%;
	margin-left: -135px;
}

#email-login label > input {
	vertical-align: top;
}

#signup-error {
	margin-bottom: 5px;
}

/* -- Hero unit -- */
#landing-hero {
	padding: 30px;
}

#landing-hero div.span6 {
	margin-left: 0;
}

/* -- Features -- */
i.icon-news, i.icon-newspaper, i.icon-customize {
	background: url("../media/300x200.gif") no-repeat;
	width: 300px;
	height: 200px;
}

@media (max-width: 800px) {
	#login-btn {
		float: left;
	}
}

#signup-form-modal {
	position: fixed;
	width: 295px;
	left: 50%;
	margin-left: -147px;
}

#signup-form-modal>p:before, #signup-form-modal>p:after {
	content: "\2014"
}

#signup-form-modal>form {
	margin: 0;
}